<!DOCTYPE html>
<html>
  <head>
    <title>知っておいて損はないお得な自治体情報 - Advice2</title>
    <meta name="description" content="Advice2は、知っておいて損はないお得な自治体情報サイトです。お得な行政サービスのみを掲載しています。知らないことで損をしないために是非、ご活用ください。">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if Rails.env.production? %>
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
