<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>知っておいて損はないお得な自治体情報 - Advice2</title>
    <meta name="description" content="Advice2は、知っておいて損はないお得な自治体情報サイトです。お得な行政サービスのみを掲載しています。知らないことで損をしないために是非、ご活用ください。">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@_soyamaguchi_" />
    <meta property="og:url" content="https://advice2.com" />
    <meta property="og:title" content="Advice2" />
    <meta property="og:description" content="知っておいて損はないお得な自治体情報 - Advice2" />
    <meta property="og:image" content="https://advice2.com/imgs/email-pattern_ogp.png" />

    <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/vnd.microsoft.icon' %>
    <%= favicon_link_tag 'favicon.ico', rel: 'icon', type: 'image/vnd.microsoft.icon' %>

    <%= favicon_link_tag 'apple-touch-icon-57x57.png', rel: 'apple-touch-icon', sizes: '57x57' %>
    <%= favicon_link_tag 'apple-touch-icon-60x60.png', rel: 'apple-touch-icon', sizes: '60x60' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72.png', rel: 'apple-touch-icon', sizes: '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-76x76.png', rel: 'apple-touch-icon', sizes: '76x76' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114.png', rel: 'apple-touch-icon', sizes: '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-120x120.png', rel: 'apple-touch-icon', sizes: '120x120' %>
    <%= favicon_link_tag 'apple-touch-icon-144x144.png', rel: 'apple-touch-icon', sizes: '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-152x152.png', rel: 'apple-touch-icon', sizes: '152x152' %>
    <%= favicon_link_tag 'apple-touch-icon-180x180.png', rel: 'apple-touch-icon', sizes: '180x180' %>

    <%= favicon_link_tag 'android-chrome-36x36.png', rel: 'icon', type: 'image/png', sizes: '36x36' %>
    <%= favicon_link_tag 'android-chrome-48x48.png', rel: 'icon', type: 'image/png', sizes: '48x48' %>
    <%= favicon_link_tag 'android-chrome-72x72.png', rel: 'icon', type: 'image/png', sizes: '72x72' %>
    <%= favicon_link_tag 'android-chrome-96x96.png', rel: 'icon', type: 'image/png', sizes: '96x96' %>
    <%= favicon_link_tag 'android-chrome-128x128.png', rel: 'icon', type: 'image/png', sizes: '128x128' %>
    <%= favicon_link_tag 'android-chrome-144x144.png', rel: 'icon', type: 'image/png', sizes: '144x144' %>
    <%= favicon_link_tag 'android-chrome-152x152.png', rel: 'icon', type: 'image/png', sizes: '152x152' %>
    <%= favicon_link_tag 'android-chrome-192x192.png', rel: 'icon', type: 'image/png', sizes: '192x192' %>
    <%= favicon_link_tag 'android-chrome-256x256.png', rel: 'icon', type: 'image/png', sizes: '256x256' %>
    <%= favicon_link_tag 'android-chrome-384x384.png', rel: 'icon', type: 'image/png', sizes: '384x384' %>
    <%= favicon_link_tag 'android-chrome-512x512.png', rel: 'icon', type: 'image/png', sizes: '512x512' %>

    <%= favicon_link_tag 'icon-36x36.png', rel: 'icon', type: 'image/png', sizes: '36x36' %>
    <%= favicon_link_tag 'icon-48x48.png', rel: 'icon', type: 'image/png', sizes: '48x48' %>
    <%= favicon_link_tag 'icon-72x72.png', rel: 'icon', type: 'image/png', sizes: '72x72' %>
    <%= favicon_link_tag 'icon-96x96.png', rel: 'icon', type: 'image/png', sizes: '96x96' %>
    <%= favicon_link_tag 'icon-128x128.png', rel: 'icon', type: 'image/png', sizes: '128x128' %>
    <%= favicon_link_tag 'icon-144x144.png', rel: 'icon', type: 'image/png', sizes: '144x144' %>
    <%= favicon_link_tag 'icon-152x152.png', rel: 'icon', type: 'image/png', sizes: '152x152' %>
    <%= favicon_link_tag 'icon-160x160.png', rel: 'icon', type: 'image/png', sizes: '160x160' %>
    <%= favicon_link_tag 'icon-192x192.png', rel: 'icon', type: 'image/png', sizes: '192x192' %>
    <%= favicon_link_tag 'icon-196x196.png', rel: 'icon', type: 'image/png', sizes: '196x196' %>
    <%= favicon_link_tag 'icon-256x256.png', rel: 'icon', type: 'image/png', sizes: '256x256' %>
    <%= favicon_link_tag 'icon-384x384.png', rel: 'icon', type: 'image/png', sizes: '384x384' %>
    <%= favicon_link_tag 'icon-512x512.png', rel: 'icon', type: 'image/png', sizes: '512x512' %>

    <%= favicon_link_tag 'icon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>
    <%= favicon_link_tag 'icon-24x24.png', rel: 'icon', type: 'image/png', sizes: '24x24' %>
    <%= favicon_link_tag 'icon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
